/* Title */
div.title {
  text-align: center;
  font-family: arial;
}

div.title img {
  display:inline;
  overflow: hidden;
}

/* Navbar */
div.menu {
  border-left: solid rgb(20,20,20) 10px;
  border-right: solid rgb(20,20,20) 10px;
  background-color: rgb(60,60,60);
}

div.menu ul {
  padding: 0;
  width: fit-content;
  list-style-type: none;
  overflow: hidden;
}

div.menu ul li {
    float: left;
}

div.menu ul li img {
  float: right;
  width: 10%;
}

div.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial;
}

div.menu ul li a:hover {
  background-color: #111;
}
