/* Title */
div.title {
  text-align: center;
  font-family: arial;
  background-color: rgb(200,120,120);
}

div.title h1 {
  border-right: 50px red solid;
  border-left: 50px red solid;
}

@media only screen and (max-device-width: 480px) {
  div.title h1 {
    font-size: 60px;
  }
}

/* Links */

div.links {
  background-color: rgb(40,40,40);
}

a.icons {
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
  background-color: rgb(220,220,220);
  height: auto;
}

a.icons img {
  height: 50px;
}

a.icons:hover {
  background-color: rgb(255,255,255);
}

@media only screen and (max-device-width: 480px) {
  div.links {
    height: 43px;
  }
  a.icons {
    float: right;
    margin-left: 0px;
    padding: 2px;
  }
  a.icons img {
    height: 35px;
  }
}

/* Navbar */
div.menu {
  border-left: solid rgb(20,20,20) 10px;
  border-right: solid rgb(20,20,20) 10px;
  background-color: rgb(60,60,60);
}

div.menu ul {
  padding: 0;
  width: fit-content;
  list-style-type: none;
  overflow: hidden;
}

div.menu ul li {
    float: left;
}

div.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial;
}

div.menu ul li a:hover {
  background-color: #111;
}

@media only screen and (max-device-width: 480px) {
  div.menu ul li {
    float: none;
  }
  div.menu ul li a {
    font-size: 30px;
  }
  div.menu {
    border-left: solid rgb(20,20,20) 20px;
    border-right: solid rgb(20,20,20) 20px;
  }
}
