iframe.calender {
  float: left;
}

div.top {
  height:auto;
  background-color: white;
  text-align: center;
  font-family: arial;
  color: white;
  font-size: 20px;
}

div.cal iframe{
  padding-top: 20px;
}

div.calinfo {
  text-align: center;
  font-family: arial;
  color: black;
  background-color: (25, 25, 25);
  padding: 10px;
}

div.menu {
  position: fixed;
  left:0;
  top:0px;
  width: 100%;
  background-image: url("games_banner.png");
  border: 0px;
}

div.menu ul {
  list-style: none;
}

div.menu a {
  color: red;
  text-decoration: none;
  display: block;
  font-size: 20px;
  background-color: rgb(240,240,240);
  text-align: center;
  overflow: hidden;
  font-family: arial;
}

div.menu hr {
  border: dotted 3px rgb(220,220,220);
}

div.menu a:hover {
  color: white;
  background-color: rgb(200,190,190);
}

div.info {
  font-family: arial;
  color: black;
  text-align: center;
  padding: 15px;
  background-color: rgb(230,230,230);
}
